.header {
    padding: 25px 0px 40px 0px;
    background-color: var(--main-bg);
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header__logo-theme-changer {
    display: flex;
    justify-content: space-between;
    gap: 56px;
   
}

.header__logo-links {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.header__links {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.header__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--font-color);
    text-decoration: none;
}

.header__link:hover {
    color: var(--text-primary);
}

.header__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--text-primary);
    margin: 0;
}

.header_inner {
    padding: 24px 0px 24px 0px;
}

@media screen and (max-width: 480px) {
    .header {
        padding: 96px 0px 69px 0px;
    }
    
    .header__title {
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
    }

    .header_inner {
        background-color: var(--grey-bg);
        height: 64px;
        padding: 0px;
    }
}
