.header {
    padding: 96px 0px 77px 0px;
    background-color: white;
}
.header__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: black;
}

.header_inner {
    padding: 0px;
    height: 82px;
}

@media screen and (max-width: 480px) {
    .header {
        padding: 96px 0px 69px 0px;
    }
    
    .header__title {
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
    }

    .header_inner {
        background-color: #F9FAFC;
        height: 64px;
        padding: 0px;
    }
}

