.toggler {
    display: inline-block;
    position: relative;
}

.toggler__input {
    position: absolute;
    outline: none;
    clip: rect(0,0,0,0);
}

.toggler__state {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.toggler__control {
    box-sizing: border-box;
    background: var(--main-bg);
    border: 1px solid var(--grey-2);
    border-radius: 16px;
    width: 52px;
    height: 28px;
    display: flex;
    align-items: center;
}

.toggler__indicator {
    background: var(--grey-2);
    border-radius: 16px;
    width: 24px;
    height: 24px;
    margin: 2px;
}

.toggler__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-primary);
}

.toggler__input:checked ~ .toggler__state .toggler__control {
    justify-content: end;
    background: var(--blue);
    border: 1px solid var(--blue);
}

.toggler__input:checked ~ .toggler__state .toggler__indicator {
    background: var(--white);
}

.toggler__input:focus ~ .toggler__state .toggler__description {
    text-decoration: underline;
}

.toggler__input:disabled ~ .toggler__state .toggler__control {
    background: var(--grey-2);
}

.toggler__input:disabled ~ .toggler__state .toggler__indicator {
    background: var(--grey-3);
    opacity: 0.25;
}

.toggler__input:disabled ~ .toggler__state {
    pointer-events: none;
}

.toggler__icon {
    width: 24px;
    height: 24px;
    color: var(--grey-3);
}

.toggler__icon_light-theme {
    color: var(--grey-4);
}

.toggler__input:checked ~ .toggler__state .toggler__icon_black-theme {
    color: var(--grey-4);
}

.toggler__input:checked ~ .toggler__state .toggler__icon_light-theme {
    color: var(--grey-3);
}

.toggler_preview {
    pointer-events: none;
}
