.modal {
    position: relative;
    display: none;
    position: fixed;
    top:0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(196, 196, 196, 0.5);
}


.modal__window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    border-radius: 8px;
    padding: 30px 40px 30px 40px;
    max-width: 428px;
    font-family: 'Inter';
    font-style: normal;
    z-index: 1;
}

.modal__close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.modal__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;
    margin: 0 0 14px 0;
}

.modal__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.modal_preview {
    display: block;
    width: 284px;
    height: 260px;
    position: relative;
}

.modal__window_preview {
    width: 180px;
    padding: 24px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    pointer-events: none;
}