h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: #212429;
}

.header__title {
    margin: 96px 610px 77px 160px;
    width: 670px;
    height: 64px;
}

main {
    height: 1036px;
    background: #F9FAFC;
}

.footer__subtitle {
   margin: 0 auto;
   width: 111px;
   padding-top: 71px;
   padding-bottom: 16px;
}

.footer__descriptor {
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 136px;
    width: 640px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #212429;
}