.container {
    max-width: 1110px;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    .container {
        box-sizing: border-box;
        padding-left: 16px;
        padding-right: 16px;
    }
}
