@import '../fonts/fonts.css';
@import '/assets/css/normalize.css';
@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/footer/footer.css';
@import '../../components/content/content.css';
@import '../../components/container/container.css';
@import '../../components/card/card.css';
@import '../../components/cards_wrapper/cards_wrapper.css';
@import '/04-lection2/01-histogram/histogram.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #4263EB;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --deep-blue: #2342C0;
    --deep-purple: #5028C6;
    --peach: #D84910;

    --error: var(--red);
    --success: var(--blue);
    --notification: var(--peach);


    --primary: var(--blue);
    --secondary: var(--purple);
}

body {
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}
