.calendar {
    background: var(--main-bg);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 28px;
    max-width: 304px;
    width: 100%;
}

.calendar__title {
    margin: 0 0 24px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--font-color);
    text-align: center;
}

.calendar__wrapper {
    position: relative;
    padding-bottom: 100%;
}

.calendar__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(7,1fr);
}

.calendar__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #334D6E;
}

.calendar__item_day {
    font-family: 'Inter';
    font-size: 14px;
    color: #90A0B7;
}

.calendar__item_active-day {
    background-color: var(--blue);
    color: var(--white);
}

.calendar__item_active-period {
    background-color: rgba(160, 177, 245, 0.2);
    color: var(--active-text-color);
}

.calendar_preview {
    box-sizing: border-box;
    width: 200px;
    padding: 14px;
}

.calendar__title_preview {
    font-size: 16px;
}

.calendar__item_preview {
    font-size: 12px;
}

.calendar__item_day_preview {
    font-size: 10px;
}