.footer {
    padding: 71px 0px 136px 0px;
    background-color: white;
    text-align: center;
}

.footer__subtitle {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 38px;
        line-height: 48px;
        color: #212429;
}

.footer__descriptor {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #212429;
        max-width: 640px;
        margin: 0 auto;
}

.footer__inner-description {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--grey-3);
}


.footer_inner {
        background-color: #F9FAFC;
        padding: 56px 0 56px 0;
}
