.checkbox {
    position: relative;
    display: inline-block;
}

.checkbox__input {
    position: absolute;
    outline: none; 
    clip: rect(0,0,0,0);
}

.checkbox__state {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.checkbox__control {
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox__icon {
    width: 24px;
    height: 24px;
    color: var(--white);
    display: none;
}

.checkbox__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background: var(--blue);
    border: none;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
    display: block;
}

.checkbox__input:focus ~ .checkbox__state .checkbox__description {
    text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__description {
    color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    background: var(--grey-2);
    border: none;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__icon {
    display: none;
}

.checkbox__input:disabled ~ .checkbox__state {
    pointer-events: none;
}

.checkbox_preview {
    pointer-events: none;
}
